default_stages: [commit]
fail_fast: true
exclude: ".conf.py|^tests/|^{{cookiecutter.project_slug}}/"
# {{cookiecutter.project_slug}} has been excluded until I start adapting
# that area.

ci:
    autofix_commit_msg: |
        chore(pre-commit): Auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_commit_msg: "chore(pre-commit): Weekly pre-commit autoupdate"
    autoupdate_schedule: weekly
    skip: []
    submodules: false

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-docstring-first
          - id: check-yaml
          - id: debug-statements
            exclude: ^{{cookiecutter.git_project_name}}/
          - id: name-tests-test
            args: ["--django"]
          - id: requirements-txt-fixer
            exclude: ^{{cookiecutter.git_project_name}}/
          - id: check-merge-conflict

    - repo: https://github.com/pycqa/pylint
      rev: v2.10.2
      hooks:
          - id: pylint
            exclude: ^{{cookiecutter.git_project_name}}/

    - repo: https://github.com/psf/black
      rev: 21.8b0
      hooks:
          - id: black
            exclude: ^{{cookiecutter.git_project_name}}/

    - repo: https://github.com/PyCQA/bandit
      rev: 1.7.0
      hooks:
          - id: bandit
            args: ["--ini=tox.ini"]

    - repo: https://github.com/pycqa/flake8
      rev: 3.9.2
      hooks:
          - id: flake8
            additional_dependencies: [flake8-typing-imports==1.10.0]
            exclude: ^{{cookiecutter.git_project_name}}/

    - repo: https://github.com/PyCQA/isort
      rev: 5.9.3
      hooks:
          - id: isort

    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.9.0
      hooks:
          - id: rst-directive-colons
          # - id: rst-backticks
          - id: rst-inline-touching-normal
          - id: python-no-log-warn
          - id: python-no-eval
          - id: text-unicode-replacement-char

    # {%- if cookiecutter.use_mypy == 'y' %}
    # - repo: https://github.com/pre-commit/mirrors-mypy
    #   rev: v0.901
    #   hooks:
    #     - id: mypy
    #       exclude: tests/
    #       {% if cookiecutter.command_line_interface|lower == 'click' -%}
    #       additional_dependencies:
    #         - types-click
    #       {%- endif %}
    # {%- endif %}
